{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,

  "importOrder": [
    "^node:",
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^\\~icons/",
    "^\\@/",
    "^\\.\\./",
    "^\\./"
  ],
  "importOrderSortSpecifiers": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always"
      }
    }
  ]
}
