@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --editor-background: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --tooltip: 0 0% 21%;
    --tooltip-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 45 37% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 45 37% 50%;

    --radius: 0.5rem;

    --select-icon: url('@/components/ui/select/icon.svg');
    --checkbox-icon: url('@/components/ui/checkbox/icon.svg');

    --logo-a: #af9750;
    --logo-b: white;
  }

  .theme-light-plus {
  }

  .theme-one-light {
    --editor-background: 0 0% 98%;
  }

  .dark,
  .theme-vs-dark,
  .theme-hc-black,
  .theme-dark-plus,
  .theme-github-dark,
  .theme-monokai,
  .theme-dracula {
    --background: 0 0% 11.76%;
    --foreground: 210 40% 98%;

    --editor-background: 0 0% 11.76%;

    --muted: 0 0% 25.1%;
    --muted-foreground: 0 0% 73.1%;

    --popover: 0 0% 12%;
    --popover-foreground: 210 40% 98%;

    --tooltip: 210 40% 98%;
    --tooltip-foreground: 222.2 84% 4.9%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 0 0% 25.1%;
    --input: 222.2 84% 4.9%;

    --secondary: 0 0% 9%;
    --secondary-foreground: 210 40% 98%;

    --accent: 0 0% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --select-icon: url('@/components/ui/select/icon-dark-plus.svg');

    --logo-a: #af9750;
    --logo-b: black;
  }

  .dark {
    --background: 240 6.9% 11.37%;
    --foreground: 210 40% 98%;
  }

  .theme-hc-black {
    --editor-background: 0 0% 0%;
  }

  .theme-github-dark {
    --editor-background: 213 13% 16%;
  }

  .theme-monokai {
    --editor-background: 70 8% 15%;
  }

  .theme-dracula {
    --editor-background: 231 15% 18%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }
}

@layer utilities {
  @keyframes header-sticky-stuck {
    0.01%, to {
      box-shadow: 0 1px 0 0 #090909;
    }
  }

  .header-sticky-stuck {
    animation: header-sticky-stuck auto steps(1);
    animation-timeline: scroll(root);
  }
}