@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  [data-theme='light-plus'],
  [data-theme='github-light'],
  [data-theme='one-light'] {
    color-scheme: light;

    --background: 0 0% 98%;
    --foreground: 20 14.3% 4.1%;

    --editor-background: 0 0% 100%;
    --activity-bar: 0 0% 92%;
    --activity-bar-foreground: 25 5.3% 44.7%;

    --card: 0 0% 88%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 45 37% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 0 0% 92%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 0 0% 90%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 0 3% 97%;
    --ring: 45 37% 50%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --logo-a: #af9750;
    --logo-b: #f1f1f1;
  }

  [data-theme='dark-plus'],
  [data-theme='github-dark'],
  [data-theme='monokai'],
  [data-theme='dracula'] {
    color-scheme: dark;

    --background: 0 0% 10%;
    --foreground: 210 40% 98%;

    --editor-background: 0 0% 11.76%;
    --activity-bar: 12 6.5% 18.1%;
    --activity-bar-foreground: 24 5.4% 63.9%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 210 40% 98%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 18.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 19.1%;
    --accent-foreground: 60 9.1% 90.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 0 0% 25.1%;
    --input: 20 6% 10%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --logo-a: #af9750;
    --logo-b: #121212;
  }

  [data-theme='one-light'] {
    --editor-background: 0 0% 98%;
    --background: 0 0% 96%;
    --secondary: 60 4.8% 93.9%;
    --activity-bar: 0 0% 88%;
    --muted: 0 0% 88%;
    --accent: 0 0% 86%;
    --logo-b: #eee;
  }

  [data-theme='github-dark'] {
    --editor-background: 213 13% 16%;
    --background: 213 13% 14%;
    --secondary: 213 13% 13%;
    --activity-bar: 213 13% 19.1%;
    --muted: 213 13% 19.1%;
    --accent: 213 13% 20.1%;
  }

  [data-theme='monokai'] {
    --editor-background: 70 8% 15%;
    --background: 70 8% 13%;
    --secondary: 70 8% 12%;
    --activity-bar: 70 8% 18.1%;
    --muted: 70 8% 18.1%;
    --accent: 70 8% 19.1%;
  }

  [data-theme='dracula'] {
    --editor-background: 231 15% 18%;
    --background: 231 15% 16%;
    --secondary: 231 15% 15%;
    --activity-bar: 231 15% 21.1%;
    --muted: 231 15% 21.1%;
    --accent: 231 15% 22.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground accent-primary;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }
}

@layer utilities {
  @keyframes header-sticky-stuck {
    0.01%,
    to {
      box-shadow: 0 1px 0 0 #090909;
    }
  }

  .header-sticky-stuck {
    animation: header-sticky-stuck auto steps(1);
    animation-timeline: scroll(root);
  }

  .gradient-text {
    @apply bg-gradient-to-r from-indigo-400 via-[#c586c0] to-yellow-400 bg-clip-text text-transparent;
  }
}
